/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('carparking.jpg');
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .parking-lot {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .parking-slot {
    background-color: #f1f1f1;
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.1);
  }
  
  .parking-slot p {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .status {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
  
  /* Available Slot (Yellow) */
  .available .status {
    background-color: #FFEB3B; /* Yellow */
  }
  
  /* Booked Slot (Green) */
  .booked .status {
    background-color: #4CAF50; /* Green */
  }
  
  /* Unavailable Slot (Red) */
  .unavailable .status {
    background-color: #F44336; /* Red */
  }
  
  footer {
    text-align: center;
    text-decoration-color: #f1f1f1;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
  }